@media (max-width: 620px) {
    .card {
        width: 90%;
        grid-template-columns: 100%;
        margin: auto;
        &_illustration img {
            border-radius: 0.625rem 0.625rem 0 0;
        }
        &_main {
            padding: 1.25rem 1.875rem 1.875rem;
            border-radius: 0 0 0.625rem 0.625rem;
        };
    }

    .product_title {
        margin: .625rem 0 1.25rem;
    }

    .product_price {
        margin: 1.25rem 0 0;
    }
}