$bg-body: hsl(30, 38%, 92%);
$bg-card-main: hsl(0, 0%, 100%);
$bg-add-link: hsl(158, 36%, 37%);
$color-primary: hsl(212, 21%, 14%);
$color-secondary: hsl(228, 12%, 48%);
$color-price: hsl(158, 36%, 37%);
$font-stack-primary: 'Montserrat', sans-serif;
$font-stack-secondary: 'Fraunces', serif;